* {
text-align: center;
color: white;
}

html {
background-color: #252B3C;
}

ul, li {
list-style: none;
padding: 0px;
}

li {
display: inline;
}

h1 {
font-size: 40px;
}

p, li {
font-size: 25px;
}

#wrapper {
width: 800px;
margin: 0 auto;
}


footer {
position: fixed;
bottom: 0px;
background: #64BDC4;
width: 100%;
}

footer p {
color: #252B3C;
}