* {
text-align: center;
font-family: sans-serif;
margin:0;
padding: 0;
}

nav li {
display: inline;
}

#wrapper {
width: 800px;
margin: 0 auto;
}

header {
background:PaleTurquoise;
width: 100%;
padding: 20px;
}

section {
width: 560px;
float: left;
background:lightblue;
padding: 20px;
}

aside {
width:160px;
float: right;
background:palegreen;
padding: 20px;
}

footer {
background:MediumAquamarine;
position: fixed;
bottom:0;
width: 100%;
padding: 20px;
}


